

body {
    background-image: linear-gradient(to bottom,#f1f1f1, #161616);
    color: black;
    font-size: 20px;
    margin: 0 auto;
    width: 80%;
}


@media only screen and (max-width: 1200px) {
    body {
        font-size: 90%;  
  } 
    
}

@media only screen and (max-width: 1023px) {
    body {
        font-size: 80%;  
  }

}
 
@media only screen and (max-width: 767px) {
    

    body {
          font-size: 65%;  
    }
}

@media only screen and (max-width: 600px) {
    body {
          font-size: 51%;  
    }
    
}